source type: <%= @source_type %>

<!-- 이부분도 마찬가지로 form helper로 고쳐짜야함 wj -->
<form action="/review" method="POST">
  <input name="description" type="text" class="form-control" placeholder="Description">
  <br>
  <textarea name="source" class="form-control" placeholder="Code here!" rows="20" id="comment"></textarea>
  <button type="submit">리뷰하기</button>
</form>
