<h1>복붙</h1>
<p>이부분에 랜덤 격언</p>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    언어선택
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">ruby</a></li>
    <li><a href="#">C</a></li>
    <li><a href="#">Python</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">등등 눌럿을때 post요청하게</a></li>
  </ul>
</div>
