<h1>복붙</h1>
<p>이부분에 랜덤 격언</p>

<select><!-- 넘겨주는 부분 수정해야함 -->
  <% @languages.each do |l| %>
    <option value="<%= l.value %>">
      <%= l.name %>
    </option>
  <% end %>
</select>
<button>
  고고
</button>
