<!-- UI 작성하세얌 이쁘게 WJ-->
<h1>복붙</h1>
<p>{이부분에 랜덤 격언}</p>

<!-- 넘겨주는 부분 form helper사용하도록 수정해야함 WJ-->
<form action="/coding" method="POST">
  <select name = "lang">
    <% @languages.each do |l| %>
      <option value="<%= l.value %>"><%= l.name %></option>
    <% end %>
  </select>
  <button type="submit">고고</button>
</form>
