<button class="btn btn-default" type="button" id="copy-code"
    data-toggle="tooltip" data-placement="top" title="복사하기">
  <span class="glyphicon glyphicon-console" aria-hidden="true">코드복사</span>
</button>
<div class="row">
  <div class="col-md-12">
    <textarea name="source" class="form-control" id="code" placeholder="여기에 붙여넣기!" rows="20" ><%= @source %></textarea>
  </div>
</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- bokboot -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1377383149600056"
     data-ad-slot="8131493323"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<script>
$(document).ready(function() {
  //tooltip
  $('#copy-code').tooltip();
  $('#copy-code').bind('click', function(){
    var input = document.querySelector('#code');
    input.setSelectionRange(0, input.value.length + 1);

    try {
      var success = document.execCommand('copy');
      if (success) {
        $('#copy-code').trigger('copied', ['복사성공 :)']);
      } else {
        $('#copy-code').trigger('copied', ['Ctrl-c !']);
      }
    } catch (err) {
      $('#copy-code').trigger('copied', ['Ctrl-c !']);
    }

  });
  $('#copy-code').bind('copied', function(event, message) {
    $(this).attr('title', message)
        .tooltip('fixTitle')
        .tooltip('show')
        .attr('title', "복사하기")
        .tooltip('fixTitle');
  });

});
</script>
