
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:500);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

pre {
  tab-size: 4;
  font-family: 'Source Code Pro', 'Nanum Gothic', serif !important;
}

textarea {
  tab-size: 4;
}
