<!DOCTYPE html>
<html>
  <head>
    <title>복 붙 :: 복사하고 붙여넣자</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
   <div class="container">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="/">복붙</a>
     </div>
     <div id="navbar" class="navbar-collapse collapse">
       <ul class="nav navbar-nav">
         <li><a href="/browse">browse</a></li>
         </li>
       </ul>
       <ul class="nav navbar-nav navbar-right">
         <li class="active"><a href="#" onClick="alert('개발중입니다. 조만간 만나요 빠잉!')">로그인 </a></li>
       </ul>
     </div><!--/.nav-collapse -->
   </div><!-- /.container -->
 </nav>

    <div class="container">
      <%= yield %>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">
          <strong>만든사람</strong>
          <a href="http://class.likelion.net/home/mypage/57">김민혁</a>
          <a href="http://gnujoow.github.io"><strong>김우정</strong></a>
          <a href="http://class.likelion.net/home/mypage/89">김재영</a>
          <a href="http://class.likelion.net/home/mypage/73">윤지성</a>
        </p>
        <p>
          <a href="http://konkuk.likelion.net/">@멋사x건국대학교</a>
        </p>
      </div>
    </footer>

    <!--- google-analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-77451524-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
